input {
    keyboard {
        xkb {
          layout "gb"
        }
    }
    touchpad {
        off 
    }
    mouse {
        accel-speed 0.5
    }
    trackpoint {
        off
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "2560x1600@60.000" custom=true
    scale 1

    hot-corners {
      off
    }
}


cursor {
    hide-after-inactive-ms 5000
}

layout {
    gaps 15
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
      on
      width 4
      active-color "#bfc9f4"
      inactive-color "#6c7086"
      urgent-color "#9b0000"
    }
    border { off; }
    struts {}
}

overview {
    zoom 0.5
    backdrop-color "#393d41"
}

blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"

environment {

    "DISPLAY" ":0"
}
